


$primary-color: #0077b6;
$secondary-color: #6c757d; 

$dark-primary: #121826; 
$dark-secondary: #1a202c; 
$text-light: #e2e8f0; 
$white: #ffffff;


$instagram-color: #E4405F;
$facebook-color: #1877F2;
$youtube-color: #FF0000;


$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;